<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Game Quiz</title>
    <link
      rel="icon"
      href="../../asset/img/logo-website.svg"
      type="image/x-icon"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="./src/question.js"></script>
    <style>
      body {
        height: 100vh;
        margin: 0;
        display: grid;
        place-items: center;
        background-color: #4481eb;
      }

      .border-gradient {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 10px;
      }
      .border-gradient-purple {
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
      }
      #gameScreen {
        background-image: url("./img/background.png");
      }

      #ball {
        display: none;
      }
      #brick {
        display: none;
      }
      #queBrick {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="game">
      <img src="./img/ball.png" alt="" srcset="" id="ball" />
      <img src="./img/brick.png" alt="" srcset="" id="brick" />
      <img src="./img/queBrick.png" alt="" srcset="" id="queBrick" />
      <div class="border">
        <canvas
          id="gameScreen"
          class="border-gradient border-gradient-purple"
          width="800"
          height="600"
        ></canvas>
      </div>
    </div>
    <form action="../../controller/test/submitTest.php" method="post">
      <div id="question">
        <div class="Que1" id="Que1">
          <div class="center">
            <div class="quize">
              <h2>Q1: How many months do we have in a year??</h2>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q1"
                  id="Q1opt1"
                />
                <label class="form-check-label"> 16 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q1"
                  id="Q1opt2"
                />
                <label class="form-check-label"> 12 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q1"
                  id="Q1opt3"
                />
                <label class="form-check-label"> 6 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q1"
                  id="Q1opt4"
                />
                <label class="form-check-label"> 10 </label>
              </div>
              <div class="next">
                <input
                  type="button"
                  value="Next"
                  id="Next1"
                  class="btn btn-success"
                  onclick="question1()"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="Que2" id="Que2">
          <div class="center">
            <div class="quize">
              <h2>Q2: How many days are there in a year?</h2>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q2"
                  id="Q2opt1"
                />
                <label class="form-check-label"> 330 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q2"
                  id="Q2opt2"
                />
                <label class="form-check-label"> 270 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q2"
                  id="Q2opt3"
                />
                <label class="form-check-label"> 367 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Q2"
                  id="Q2opt4"
                />
                <label class="form-check-label"> 365 </label>
              </div>
              <div class="next">
                <input
                  type="button"
                  value="Next"
                  id="Next2"
                  class="btn btn-success"
                  onclick="question2()"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="Que3" id="Que3">
          <div class="center">
            <div class="quize">
              <h2>Q3: How many letters are there in the English alphabet?</h2>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Q3" />
                <label class="form-check-label"> 24 </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="Q3" />
                <label class="form-check-label"> 20 </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="Q3" />
                <label class="form-check-label"> 26 </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="Q3" />
                <label class="form-check-label"> 25 </label>
              </div>
              <div class="next">
                <input
                  type="submit"
                  value="Next3"
                  name="submit"
                  id="Next3"
                  class="btn btn-success"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script type="module" src="./src/index.js"></script>

    <script>
      $(document).ready(function () {
        var mouseClick1 = 0;
        var keypress1 = 0;
        var opt1Change = 0;
        var focusOut1 = 0;
        var mouseClick2 = 0;
        var keypress2 = 0;
        var opt2Change = 0;
        var focusOut2 = 0;
        var mouseClick3 = 0;
        var keypress3 = 0;
        var opt3Change = 0;
        var focusOut3 = 0;

        // question1 interaction uploaded from here
        $("#Que1").click(function () {
          mouseClick1 += 1;
        });
        $("#Q1opt1").click(function () {
          opt1Change += 1;
        });
        $("#Q1opt2").click(function () {
          opt1Change += 1;
        });
        $("#Q1opt3").click(function () {
          opt1Change += 1;
        });
        $("#Q1opt4").click(function () {
          opt1Change += 1;
        });
        $("#Que1").keypress(function () {
          keypress1 += 1;
        });
        $("#Que1").focusout(function () {
          focusOut1 += 1;
        });
        $("#Next1").click(function () {
          $.post(
            "../../controller/interaction/interactionQ1.php",
            {
              mouseClick: mouseClick1,
              keypress: keypress1,
              optChange: opt1Change,
              focusOut: focusOut1,
            },
            function (data, status) {}
          );
        });

        // question2 interaction uploaded from here
        $("#Que2").click(function () {
          mouseClick2 += 1;
        });
        $("#Q2opt1").click(function () {
          opt2Change += 1;
        });
        $("#Q2opt2").click(function () {
          opt2Change += 1;
        });
        $("#Q2opt3").click(function () {
          opt2Change += 1;
        });
        $("#Q2opt4").click(function () {
          opt2Change += 1;
        });
        $("#Que2").keypress(function () {
          keypress2 += 1;
        });
        $("#Que2").focusout(function () {
          focusOut2 += 1;
        });
        $("#Next2").click(function () {
          $.post(
            "../../controller/interaction/interactionQ2.php",
            {
              mouseClick: mouseClick2,
              keypress: keypress2,
              optChange: opt2Change,
              focusOut: focusOut2,
            },
            function (data, status) {}
          );
        });

        // question3 interaction uploaded from here
        $("#Que3").click(function () {
          mouseClick3 += 1;
        });
        $("#Q3opt1").click(function () {
          opt3Change += 1;
        });
        $("#Q3opt2").click(function () {
          opt3Change += 1;
        });
        $("#Q3opt3").click(function () {
          opt3Change += 1;
        });
        $("#Q3opt4").click(function () {
          opt3Change += 1;
        });
        $("#Que3").keypress(function () {
          keypress3 += 1;
        });
        $("#Que3").focusout(function () {
          focusOut3 += 1;
        });
        $("#Next3").click(function () {
          $.post(
            "../../controller/interaction/interactionQ3.php",
            {
              mouseClick: mouseClick3,
              keypress: keypress3,
              optChange: opt3Change,
              focusOut: focusOut3,
            },
            function (data, status) {}
          );
        });
      });
    </script>
  </body>
</html>
