#question {
  display: none;
  border-radius: 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#question .quize {
  background-color: aliceblue;
  width: 50vw;
  padding: 5vw 5vw 1vw 5vw;
  margin-top: 10vw;
}
#question .quize .next {
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.Que1 {
  width: 100vw;
  height: 100vh;
}
.Que2 {
  width: 100vw;
  height: 100vh;
  display: none;
}
.Que3 {
  width: 100vw;
  height: 100vh;
  display: none;
}
.Que4 {
  width: 100vw;
  height: 100vh;
  display: none;
}
.Que5 {
  width: 100vw;
  height: 100vh;
  display: none;
}
